body {
    background-image: url("http://images4.fanpop.com/image/photos/17600000/P-nk-fanart-pink-17651472-1280-720.jpg")
}
h1 {
    font-family: fantasy;
    color: palevioletred;
    text-decoration: underline;
}
h2 {
    font-size: 30px;
    font-family: fantasy;
    font-style: italic;
}
p {
    font-family: fantasy;
    font-weight: bold;
}
h3 {
    font-family: fantasy;
    font-style: italic;
}
li {
    font-family: fantasy;
}
#song {
    font-size: 25px;
    font-family: fantasy;
    color: pink;
}
